<template>
    <div>
        <v-text-field 
            @change="search()" 
            v-model="query" 
            label="Website to fetch images from"
            prepend-icon="search"
            clearable
            hide-details></v-text-field>
    </div>
    <div>
        <v-data-table
            :items="images">
            <template v-slot:item="{ item }">
                <tr>
                    <td><img src="{{ item.src }}" alt="{{ item.alt }}"></td>
                </tr>
            </template>
         </v-data-table>
     </div>
</template>

<script>
    export default {
        name: "ImageFetch",
        data: () => ({
            query: null
        }),
        methods: {
            search(what) {
                this.$emit('messageFromImageSearch', this.query);
                axios.get('/api/ImageFetch/' + this.query)
                    .then(res => {
                        this.images = res.data.images;
                    })
                    .catch(error => console.error('There was an issue'));
                }
            }
        },
        mounted() {
            console.log('ImageFetch Component mounted.');
        }
    }
</script>

